<h1>Bienvenido</h1>

<br>
<br>
<button >
   <a href="/getCookie"> getCookie</a>
</button>
<br>
<br>

<form action="/setCookie" method="POST">
<label for="nameClient">Ingrese su nombre</label>
<input type="text" name="nameClient">
<br>
<br>
<label for="mailClient">Ingrese su mail</label>
<input type="text" name="mailClient">
<br>
<br>
<button type="submit">
   Submit
</button>




</form>


<script src="./index.js"></script>